{% extends '/templates/app.twig' %}

{% block header %}
	<link rel="stylesheet" href="/design/css/fullnews/app.css">
	<title>{{ item.title }}</title>
{% endblock %}
{% block breadcrumbs %}
    <a href="{{ base_url() }}/news">Новости</a>
    <a  href="{{ base_url() }}/news/{{ item.idnews }}" 
        style="max-width:300px; overflow:hidden;">{{ item.title }}</a>
{% endblock %}
{% block h1 %}
	{{ item.title }}
{% endblock %}

{% block content %}
    <div class="date-news">{{ item.created_at }}</div>
    <article class="content-news">{{ item.content }}</article>
    <a href="{{ path_for('show.news') }}" class="go-back-to-news">назад к новостям</a>
{% endblock %}

{% block script %}

{% endblock %}

