{% extends '/templates/app.twig' %}

{% block header %}
	<link rel="stylesheet" href="/design/css/news/app.css">
	<title>Новости о котиках</title>
{% endblock %}

{% block h1 %}
	Новости о котиках
{% endblock %}

{% block content %}
    {% for item in news %}
    <article class="cat-news">
        <div class="wrap-img__cat-news"><img src="http://www.lorempixel.com/200/200/cats" alt="" class="cat-img-news"></div>
        <div class="right-part__cat-news">
            <div class="date-news">{{ item.created_at }}</div>
            <div class="title-news"> {{ item.title }}</div>
            <div class="content-news">{{ item.shortdescription }}</div>
            <a href="{{ path_for('show.news')}}/{{ item.idnews}}" class="go-to-fullnews">подробнее</a>
        </div>
    </article>
    {% endfor %}
    <div class="pagination">
        {% for item in 1..countPage %}
            {% if item == currentPage %}
                <a href="{{ path_for('show.news') }}?page={{ item }}" style="background:#666;" class="pagination-item">{{ item }}</a>
            {% else %}
                <a href="{{ path_for('show.news') }}?page={{ item }}" class="pagination-item">{{ item }}</a>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}

{% block script %}

{% endblock %}

