{% extends '/templates/app.twig' %}

{% block header %}
	<link rel="stylesheet" href="/design/css/news/app.css">
	<title>Новости о котиках</title>
{% endblock %}

{% block h1 %}
	Новости о котиках
{% endblock %}

{% block content %}
    {% for item in news %}
    <article class="cat-news">
        <div class="wrap-img__cat-news"><img src="http://www.lorempixel.com/200/200/cats" alt="" class="cat-img-news"></div>
        <div class="right-part__cat-news">
            <div class="date-news">{{ item.created_at }}</div>
            <div class="title-news"> {{ item.title }}</div>
            <div class="content-news">{{ item.shortdescription }}</div>
            <a href="{{ path_for('show.news')}}/{{ item.idnews}}" class="go-to-fullnews">подробнее</a>
        </div>
    </article>
    {% endfor %}
    <div class="pagination">
        <a href="" class="pagination-item">1</a>
        <a href="" class="pagination-item">2</a>
        <a href="" class="pagination-item">3</a>
        <a href="" class="pagination-item">4</a>
        <a href="" class="pagination-item">5</a>
        <a href="" class="pagination-item">6</a>
    </div>
{% endblock %}

{% block script %}

{% endblock %}

