		<div class="about-cat">
			<div class="image-cat">
				<img src="http://lorempixel.com/200/200/cats" alt=""></div>
			<div class="right-info">
				<div class="years-old">
					<div>Сколько лет:</div>
					<div>{{ cat.years }} год(лет)</div>
				</div>
				<div class="breed-cat">
					<div>Порода:</div>
					<div>{{ breeds[cat.breed - 1].name }}</div>
				</div>
				<div class="sex-cat">
					<div>Пол:</div>
					<div>{{ cat.sex == 1 ? 'Кот' : 'Кошечка' }}</div>
				</div>
				<div class="weight-cat">
					<div>Вес:</div>
					<div>{{ cat.weight }} кг</div>
				</div>
				{% if cat.aboutme %}
				<div class="about-cat__right-info">
					<h2>О себе:</h2>
					<p>{{ cat.aboutme }}</p>
				</div>
				{% endif %}
				<!-- end about cat info -->
			</div>
			<!-- end right info -->
		</div>
		<!-- end about cat  -->
