		<div class="about-cat">
			<div class="image-cat">
				<img src="http://lorempixel.com/200/200/cats" alt=""></div>
			<div class="right-info">
				<div class="years-old">
					<div>Сколько лет:</div>
					<div>{{ cat.years }}</div>
				</div>
				<div class="breed-cat">
					<div>Порода</div>
					<div>{{ cat.breed }}</div>
				</div>
				<div class="sex-cat">
					<div>Пол:</div>
					<div>{{ cat.sex }}</div>
				</div>
				<div class="weight-cat">
					<div>Вес</div>
					<div>{{ cat.weight }}</div>
				</div>
				<div class="about-cat__right-info">
					<h2>О себе:</h2>
					<p>{{ cat.aboutme }}</p>
				</div>
				<!-- end about cat info -->
			</div>
			<!-- end right info -->
		</div>
		<!-- end about cat  -->
