{% extends '/templates/app.twig' %}

{% block header %}
	<link rel="stylesheet" href="/design/css/fullcat/app.css">
	<title>{{ cat.name }}</title>
{% endblock %}

{% block breadcrumbs %}
    <a href="{{ base_url() }}/cats">Котики</a>
    <a href="{{ base_url() }}/profile/{{ cat.id }}">{{ cat.name }}</a>
{% endblock %}
{% block h1 %}
	{{ cat.name }}
{% endblock %}

{% block content %}
	{% include '/fullcat/about-cat.twig' %}
	{% include '/fullcat/stories.twig' %}
	{% include '/fullcat/my-addres.twig' %}
	{% include '/fullcat/cats-nearly-me.twig' %}
{% endblock %}

{% block script %}

{% endblock %}

