		{% if story %}
		<div class="stories">
			<h2>Мои интересные истории:</h2>
			<article class="story">
				<div class="title__story">{{ story.title }}</div>
				<div class="date__story">{{ story.created_at }}</div>
				<div class="content__story">
					{{ story.content }}
				</div>
			</article>
			<div class="paginator__article__story">
				<a href="{{ current-1 }}" class="prev">
					{% if left == true %}
						предыдущая
					{% endif %}
				</a>
				<a href="{{ current+1 }}" class="next">
					{% if right == true %}
						следуюащая
					{% endif %}
				</a>
			</div>
			<!-- end story -->
			{# check, if user is login and it is his page, than show this..else no #}
			<div class="add-new-story">
				<h2>Новая история</h2>
				<form action="" class="form-new-story">
					<label for="theme_story">Тема истории:</label>
					<input type="text" name="theme_story">
					<label for="text_story">Текст истории:</label>
					<textarea name="text_story" id="" cols="30" rows="10"></textarea>
					<input type="submit" class="add_button" value="добавить историю" name="add_story">
				</form>
			</div>
			<!-- end add new story	 -->
		</div>
		<!-- end stories -->
		{% endif %}