
    <div class="list-cats">
        {% if cats %}
            {% for cat in cats %}
                <article class="cat">
                    <div class="img-cat">
                        <img src="http://www.lorempixel.com/200/200/cats" alt="">
                    </div>
                    <div class="data-cat">
                        <div class="name-cat__data">{{ cat.name }}</div>
                        <div class="sex_cat__data">{{ cat.sex == 1 ? 'Кот' : 'Кошечка' }}</div>
                        <div class="year_cat__data">{{ cat.years }} лет</div>
                        <div class="weight_cat__data">{{ cat.weight }} кг</div>
                        <div class="breed-cat__data">{{ breeds[cat.breed - 1].name }}</div>
                        <a href="{{ base_url() }}/profile/{{ cat.idcats }}" class="full-cat-link">на страницу этого котика</a>
                    </div>
                </article>
            {% endfor %}
        {% endif %}
    </div>